h4 {
    margin-top: 0em;
    font-size: 0.8em;
}
#createPost {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}
#text-input {
    display: flex;
    flex-direction: column;
}
#text-input input, select, textarea{
    font-size: 0.4em;
    border-radius: 20px;
    padding: 10px;
    margin: 0 24px 0 24px;
    border-style: none;
    resize: none;
    overflow: scroll;
    flex: 1;
}


label {
    margin-left: 40px;
}


#save-edit {
    font-size: 0.5em;
    background-color: rgb(145, 187, 186);
    border-style: none;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

#save-edit:hover {
    background-color: #de9a01;
}
#save-edit:active {
    background-color: rgb(164, 136, 149);
}

form {
    background-color: rgba(229, 198, 198, 0.5);
    border-radius: 20px;
}

select option {
    font-size: 0.6em;
}

#food-facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 48px;
}


h6 {
    font-size: 0.4em;
}

#description {
    width: 90%;
}