.profile-links {
    display: flex;
    justify-content: space-evenly;
}
.profile-links a {
    font-size: 50px;
    text-decoration: underline;
    color: rgb(107, 133, 132);
    transition: font-size 300ms;
}
.profile-links a:hover {
    color: rgb(80, 98, 97);
    font-size: 51px;
}
.profile-links a:active {
    color: #6b8581;
}

.userinfo-edit {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.userinfo-edit input{
    display: flex;
    font-size: 40px;
    width: 700px;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
    border-style: none;
}
div input {
    width: 50px;
    height: 50px;
}
#save-edit {
    width: 240px;
    border-style: none;
    border-radius: 20px;
    background-color: #ffae00;
    margin-top: 50px;
}

#save-edit:hover {
    background-color: #de9a01;

}

#email {
    color: rgb(150, 171, 170);
    background-color: rgb(246, 246, 246);
}



