h4 {
    margin-top: 0em;
    font-size: 0.6em;
}

h6 {
    font-size: 0.35em;
}
.createPost {
    display: flex;
    flex-direction: column;
}
.text-input {
    display: flex;
    flex-direction: column;
}
select {
    border-style: none;
    border-radius: 20px;
    font-size: 0.4em;
    padding: 10px;
}
.text-input input{
    display: flex;
    font-size: 0.4em;
    border-radius: 20px;
    padding: 10px;
    border-style: none;
}

.checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px;
}

.checkbox label {
    font-size: 40px;
}

#save-edit {
    font-size: 0.4em;
    background-color: rgb(107, 133, 132);
    padding: 10px;
    border-style: none;
    border-radius: 20px;
}

#save-edit:hover {
    background-color: #de9a01;
}

#description {
    font-size: 0.4em;
    resize: none;
    border-radius: 20px;
    border-style: none;
    width: 100%;
    padding: 10px;
}

form {
    background-color: rgba(146, 169, 168, 0.53);
    padding: 40px 16px 40px 16px;
    border-radius: 20px;
}

.checkbox input {
    width: 30px;
    height:30px;
}

#food-facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


