body {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#login-form, #signup-form  {
    display: flex;
    flex-direction: column;
    background-color: #f3ecec;
    border-radius: 20px;
    padding: 40px;
}

#login-button, #signup-button {
    margin: 50px auto;
    width: 500px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(145, 187, 186);
}



#login-button:hover, #signup-button:hover {
    background-color: #de9a01;
}



#login-button:active, #signup-button:active {
    background-color: #a48895;
}

#login-form input, #signup-form input {
    border-radius: 20px;
    border-style: none;
    padding: 20px;
    margin: 10px;
    background-color: white;
}



#food-facts input {
    width: 50px;
    height: 50px;
}

#login-signup {
    display: flex;
    flex-direction: column;
    margin: auto;
}

select {
    font-size: 50px;
    width: 710px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto;
    border-style: none;
    resize: none;
    overflow: scroll;
    flex: 1;
}


#food-facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



#allergens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 35px 35px 35px;

}

#diets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 35px 35px 35px;
    margin-top: -0.5em;
}