#login-form  {
    display: flex;
    flex-direction: column;
    background-color: #f8e9e9;
    font-size: 0.4em;
    border-radius: 20px;
    padding: 40px;
}

#signup-form {
    display: flex;
    flex-direction: column;
    background-color: #f8e9e9;
    font-size: 0.3em;
    border-radius: 20px;
    padding: 40px;
}

h2 {
    font-size: 0.7em;
}

#login-button, #signup-button {
    margin: 50px auto;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(145, 187, 186);
}



#login-button:hover, #signup-button:hover {
    background-color: #de9a01;
}



#login-button:active, #signup-button:active {
    background-color: #a48895;
}

#login-form input, #signup-form input {
    border-radius: 20px;
    border-style: none;
    padding: 20px;
    margin: 10px;
    background-color: white;
}




#login-signup {
    display: flex;
    flex-direction: column;
    margin: auto;
}
#area {
    font-size: 1em;
}

select {
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto;
    border-style: none;
    resize: none;
    flex: 1;
}


#food-facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



#allergens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;

}

#diets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
}

label {
}

