
h4 {
    font-size: 0.6em;
}

#username-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timevalue {
    margin-right: 30px;
}
h5, p {
    font-size: 0.3em;
    margin-left: 30px;
}

#message-thread {
    background-color: #ccae85;
    padding-bottom: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 20px;
    border-top-style: groove;


}

#message-thread:hover {
    background-color: #b79b76;
}
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-received-button {
    font-size: 0.3em;
    border-radius: 20px;
    background-color: #ffae00;
    border-style: none;
    padding: 10px;
}

.item-received-button:hover {
    background-color: #de9a01;
}

.item-received-button:active {
    background-color: pink;
}

.received {
    color: pink;
    text-align: left;
}

.sent {
    text-align: right;
}

#chat-container {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 500px) {
    nav {
        justify-content: space-between;
    }
}
@media screen and (min-width: 600px) {
    article {
        width: 70%;
        padding: 8vh;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin: 56px auto;
    }

    .message-thread {
        width: 80%;
        margin: auto;
    }
    h4 {
        margin-top: 0;
    }


}