
h4 {
    font-size: 0.6em;
}

.username-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timevalue {
    margin-right: 30px;
}
h5, p {
    font-size: 0.3em;
    margin-left: 30px;
}

.message-thread {
    background-color: #ccae85;
    padding-bottom: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 20px;
    border-top-style: groove;


}

.message-thread:hover {
    background-color: #b79b76;
}
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-received-button {
    font-size: 0.3em;
    border-radius: 20px;
    background-color: #ffae00;
    border-style: none;
    padding: 10px;
}

.item-received-button:hover {
    background-color: #de9a01;
}

.item-received-button:active {
    background-color: pink;
}
/*@media screen and (min-width: 375px) {
    .home {
        font-size: 0.6em;
    }

    nav {
        width: 46vh;
        height: 14vh;
    }
    h4 {
        font-size: 0.4em;
    }
    .message-thread {
        width: 45vh;
        height: 27vh;
    }
}*/