#message {
    display: flex;
    border-radius: 20px;
    margin: 40px auto;
    font-size: 40px;
    color: #657a77;
    resize: none;
    border-color: rgb(204, 174, 133);
}
#submit {
    display: flex;
    margin: auto;
    border-radius: 30px;
    border-style: none;
    padding: 20px;
    background-color: rgb(255, 220, 0);
    font-size: 40px;
}
#submit:hover {
    background-color: rgb(204, 174, 133);
}
form {
    display: flex;
    flex-wrap: wrap;
}

#contact {
    font-size: 50px;
    margin-top: 20px;
}