#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    margin-top: -0.5em;
}

#contact {
    border-radius: 20px;
    font-size: 0.6em;
    padding: 10px;
    color: #657a77;
    resize: none;
    border-color: rgb(204, 174, 133);
}
#send-button {
    margin-top: 5%;
    border-radius: 20px;
    border-style: none;
    padding: 15px;
    background-color: rgb(255, 220, 0);
    font-size: 0.5em;
}
#send-button:hover {
    background-color: rgb(204, 174, 133);
}

.contact-label {
    font-size: 0.6em;
}

#textarea-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    background-color: #d5d2ce !important;
}

.post-title {
    font-size: 0.4em !important;
}

.message {
    font-size: 1em !important;
}

nav ul li {
    font-size: 1em !important;
}

@media screen and (min-width: 600px) {
    .post-feed {
        display: flex !important;
        flex-direction: column;
        margin: 48px auto;
        width: 60%;
    }
    #contact {
        width: 100%;
    }

}