#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    margin-top: -0.5em;
}

#contact {
    border-radius: 20px;
    font-size: 40px;
    color: #657a77;
    resize: none;
    border-color: rgb(204, 174, 133);
}
#send-button {
    margin: 20px;
    border-radius: 20px;
    border-style: none;
    padding: 15px;
    background-color: rgb(255, 220, 0);
    font-size: 30px;
}
#send-button:hover {
    background-color: rgb(204, 174, 133);
}

.contact-label {
    font-size: 30px;
}

#textarea-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    background-color: #d5d2ce !important;
}