figure {
    display: flex;
    flex-direction: column;
}
figure label:first-child {
    margin-left: auto;
}

.fa-pen-to-square .fa-trash-can {
    font-size: 55px;
}
.fa-pen-to-square:hover {
    color: rgb(255, 174, 0);
}

.fa-trash-can:hover {
    color: rgb(168, 54, 16);
}
.fa-trash-can {
    margin-left: 30px;
}
.profile-links {
    margin-bottom: 50px;
}